In [1]:
import pandas as pd
import numpy as np

In [39]:
link = 'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_'

In [40]:
df0 = pd.read_html(f'{link}2000',header=0)[3]
df0.drop()

,Title,Director,Cast,Genre,Music director
0,Aaghaaz,Yogesh Ishwar,"Sunil Shetty, Sushmita Sen, Namrata Shirodkar",Thriller,Anu Malik
1,Aaj Ka Ravan,Imran Khalid,"Kasam Ali, Mithun Chakraborty",Drama,NaN
2,Anjaane,Ravi Rai,"Raveena Tandon, Vivek Mushran",Romance,Rajesh Roshan
3,Anokha Moti,Anshul Singla,"Sanjay Sharma, Arjun Chakraborty, Nayab Aftab",Family,NaN
4,Apradhi Kaun,Mohan Bhakri,"Ishrat Ali, Shagufta Ali",Thriller,NaN

In [42]:
df1 = pd.read_html(f'{link}2001',header=0)[3]
df1.head()

,Title,Director,Cast,Genre
0,Abhay,Suresh Krissna,"Kamal Hassan, Manisha Koirala, Raveena Tandon",Thriller
1,Aamdani Atthanni Kharcha Rupaiya,K. Raghavendra Rao,"Govinda, Juhi Chawla, Johnny Lever, Tabu, Isha...",Family Drama
2,Aashiq,Indra Kumar,"Bobby Deol, Karisma Kapoor",Action Comedy
3,Ajnabee,Abbas Mustan,"Bobby Deol, Akshay Kumar, Kareena Kapoor, Bipa...","Thriller, Suspense, Crime"
4,Aks,Rakeysh Omprakash Mehra,"Amitabh Bachchan, Raveena Tandon, Manoj Bajpai...","Thriller, Horror"

In [44]:
df2 = pd.read_html(f'{link}2002',header=0)[2]
df2.head()

,Title,Director,Cast,Genre
0,16 December,Mani Shankar,"Milind Soman, Dipannita Sharma, Gulshan Grover...",Action
1,23rd March 1931: Shaheed,Guddu Dhanoa,"Sunny Deol, Bobby Deol, Divya Dutta, Amrita Singh",Historical Drama
2,Aankhen,Vipul Shah,"Amitabh Bachchan, Akshay Kumar, Paresh Rawal, ...","Thriller, Action"
3,Aap Mujhe Achche Lagne Lage,Vikram Bhatt,"Hrithik Roshan, Amisha Patel","Romance, Drama"
4,Ab Ke Baras,Raj Kanwar,"Amrita Rao, Arya Babbar, Ashish Vidyarthi","Romance, Drama"

In [46]:
df3 = pd.read_html(f'{link}2003',header=0)[3]
df3.head()

,Title,Director,Cast,Genre
0,3 Deewarein,Nagesh Kukunoor,"Naseeruddin Shah, Jackie Shroff, Juhi Chawla",Drama
1,88 Antop Hill,Kushan Nandy,"Rahul Dev, Shweta Menon, Atul Kulkarni",Thriller
2,Aaj Ka Andha Kanoon,NaN,Sudesh Berry,NaN
3,Aanch,NaN,"Nana Patekar, Paresh Rawal",NaN
4,Aapko Pehle Bhi Kahin Dekha Hai,Anubhav Sinha,"Priyanshu Chatterji, Sakshi Shivanand, Om Puri...",Romance

In [47]:
df4 = pd.read_html(f'{link}2004',header=0)[3]
df4.head()

,Title,Director,Cast,Genre
0,Aabra Ka Daabra,Dheeraj Kumar,"Hansika Motwani, Shweta Tiwari, Vishal Lalwani...",Fantasy
1,Aan: Men at Work,Madhur Bhandarkar,"Akshay Kumar, Sunil Shetty, Shatrughan Sinha, ...",Action
2,Ab... Bas!,Rajesh Kumar Singh,"Shawar Ali, Rohit Roy, Diana Hayden",Adult
3,Ab Tumhare Hawale Watan Saathiyo,Anil Sharma,"Amitabh Bachchan, Akshay Kumar, Bobby Deol, Di...","War, Drama"
4,Aetbaar,Vikram Bhatt,"Amitabh Bachchan, Bipasha Basu, John Abraham",Thriller

In [48]:
df5 = pd.read_html(f'{link}2005',header=0)[3]
df5.head()

,Title,Director,Cast,Genre
0,7½ Phere,Ishaan Trvedi,"Juhi Chawla, Irrfan Khan",Comedy
1,"99.9 FM,",Sanjay Bhatia,"Shawar Ali, Raima Sen, Dipannita Sharma",Crime / Thriller
2,Aashiq Banaya Aapne,Aditya Datt,"Emraan Hashmi, Tanushree Dutta, Sonu Sood","Romance, Drama / Thriller"
3,Amavas,NaN,NaN,NaN
4,Anjaane,Harry W. Fernandes,"Manisha Koirala, Sanjay Kapoor",Thriller

In [53]:
df6 = pd.read_html(f'{link}2006',header=0)[2]
df6.head()

,Title,Director,Cast,Genre,Sources
0,36 China Town,Abbas-Mustan,"Kareena Kapoor, Shahid Kapoor, Upen Patel, Aks...","Thriller, Mystery",NaN
1,Aap Ki Khatir,Dharmesh Darshan,"Sunil Shetty, Akshaye Khanna, Dino Morea, Amis...","Comedy, Romance, Social",NaN
2,Aatma,Deepak Ramsay,"Kapil Jhaveri, Neha",Horror,NaN
3,Adharm,NaN,"Rahul Dev, Sonali Kulkarni",NaN,NaN
4,Ahista Ahista,NaN,"Abhay Deol, Soha Ali Khan","Drama, Romance",NaN

In [52]:
df7 = pd.read_html(f'{link}2007',header=0)[2]
df7.head()

,Title,Director,Cast,Genre
0,1971,Amrit Sagar,"Manoj Bajpai, Ravi Kishan",War
1,50 Lakh,Chandra Sekhar Yeleti,"Pawan Malhotra, Mohit Chadda",NaN
2,68 Pages,Sridhar Rangayan,"Mouli Ganguly, Joy Sengupta, Jayati Bhatia",NaN
3,Aag,Ram Gopal Varma,"Amitabh Bachchan, Ajay Devgn, Sushmita Sen, Ni...","Action, Thriller"
4,Aaja Nachle,Anil Mehta,"Madhuri Dixit, Akshaye Khanna, Kunal Kapoor, K...",Musical

In [49]:
df8 = pd.read_html(f'{link}2008',header=0)[3]
df8.head()

,Opening,Opening.1,Title,Director,Cast,Genre
0,JAN,4.0,Humne Jeena Seekh Liya,Milind Ukey,"Siddharth Chandekar, Mrunmayi Deshpande",Comedy
1,JAN,4.0,Rama Rama Kya Hai Dramaa?,S. Chandrakaant,"Rajpal Yadav, Neha Dhupia, Aashish Chaudhary, ...",Comedy
2,JAN,11.0,Halla Bol,Rajkumar Santoshi,"Ajay Devgn, Vidya Balan, Pankaj Kapoor",Social
3,JAN,18.0,Bombay to Bangkok,Nagesh Kukunoor,"Shreyas Talpade, Lena Christensen","Comedy, Drama, Romance"
4,JAN,18.0,Tulsi,Ajay Kumar,"Irrfan Khan, Manisha Koirala, Arzoo Govitrikar",NaN

In [67]:
df9_1 = pd.read_html(f'{link}2009',header=0)[3]
df9_2 = pd.read_html(f'{link}2009',header=0)[4]
df9_3 = pd.read_html(f'{link}2009',header=0)[5]
df9_4 = pd.read_html(f'{link}2009',header=0)[6]
df9 = pd.concat([df9_1,df9_2,df9_3,df9_4],axis=0)
df9.head()

,Opening,Opening.1,Title,Director,Cast,Genre
0,JAN,2.0,Mumbai Chakachak,Sanjay Jha,"Rahul Bose, Ayesha Dharker, Mandira Bedi",Drama
1,JAN,9.0,Horn 'Ok' Pleassss,Rakesh Sarang,"Nana Patekar, Rimi Sen, Muzamil Ibrahim",Romantic comedy
2,JAN,16.0,Chandni Chowk to China,Nikkhil Advani,"Akshay Kumar, Deepika Padukone, Mithun Chakrab...","Action, Comedy"
3,JAN,23.0,Aasma: The Sky Is the Limit,Rohit Nayyar,"Hrishitaa Bhatt, Seema Biswas, Nauheed Cyrusi,...",Drama
4,JAN,23.0,Raaz: The Mystery Continues,Mohit Suri,"Emraan Hashmi, Kangana Ranaut, Adhyayan Suman,...",Horror

In [70]:
df10_1 = pd.read_html(f'{link}2010',header=0)[3]
df10_2 = pd.read_html(f'{link}2010',header=0)[4]
df10_3 = pd.read_html(f'{link}2010',header=0)[5]
df10_4 = pd.read_html(f'{link}2010',header=0)[6]
df10 = pd.concat([df10_1,df10_2,df10_3,df10_4],axis=0)
df10.head()

,Opening,Opening.1,Title,Director,Cast,Genre
0,JAN,8.0,Dulha Mil Gaya,Muddassar Aziz,"Fardeen Khan, Ishita Sharma, Sushmita Sen, Sha...",Romantic Comedy
1,JAN,8.0,Pyaar Impossible!,Jugal Hansraj,"Priyanka Chopra, Uday Chopra, Anupam Kher, Din...",Romantic Comedy
2,JAN,15.0,Chance Pe Dance,Ken Ghosh,"Shahid Kapoor, Genelia D'Souza","Comedy, Romance"
3,JAN,15.0,Hello! Hum Lallan Bol Rahe Hain,Dileep Shukla,"Rajpal Yadav, Preeti Mehra",Comedy
4,JAN,22.0,Veer,Anil Sharma,"Salman Khan, Zarine Khan, Mithun Chakraborty, ...",Epic Film

In [75]:
df11_1 = pd.read_html(f'{link}2011',header=0)[2]
df11_2 = pd.read_html(f'{link}2011',header=0)[3]
df11_3 = pd.read_html(f'{link}2011',header=0)[4]
df11_4 = pd.read_html(f'{link}2011',header=0)[5]
df11 = pd.concat([df11_1,df11_2,df11_3,df11_4],axis=0)
df11.head()

,Opening,Opening.1,Title,Genre,Director,Cast,Ref
0,JAN,7.0,No One Killed Jessica,Social thriller,Raj Kumar Gupta,"Rani Mukherjee, Vidya Balan",NaN
1,JAN,7.0,Impatient Vivek,Adult/Comedy/Romance,Rahat Kazmi,"Prasun Sharma, Sayali Bhagat",NaN
2,JAN,14.0,Yamla Pagla Deewana,Comedy/Drama/Action,Samir Karnik,"Dharmendra, Sunny Deol, Bobby Deol, Kulraj Ran...",NaN
3,JAN,14.0,Turning 30!!!,Adult/Romance/Comedy,Alankrita Shrivastava,"Purab Kohli, Gul Panag",NaN
4,JAN,14.0,Mumbai Mast Kallander,Comedy/Comedy/Comedy,Aman Mihani,"Shilpa Shukla, Mohsin Akhtar",NaN

In [79]:
df12_1 = pd.read_html(f'{link}2012',header=0)[3]
df12_2= pd.read_html(f'{link}2012',header=0)[4]
df12_3 = pd.read_html(f'{link}2012',header=0)[5]
df12_4 = pd.read_html(f'{link}2012',header=0)[6]

df12 = pd.concat([df12_1,df12_2,df12_3,df12_4],axis=0)

df12.head()

,Opening,Opening.1,Title,Genre,Director,Cast
0,JANUARY,6,Players,Action/Thriller,Abbas-Mustan,"Abhishek Bachchan, Sonam Kapoor, Bipasha Basu,..."
1,JANUARY,13,Chaalis Chauraasi 4084,Comedy/Crime,Hriday Shetty,"Naseeruddin Shah, Atul Kulkarni, Kay Kay Menon..."
2,JANUARY,13,Ghost,Adult/Horror,Puja Jatinder Bedi,"Shiney Ahuja, Sayali Bhagat, Deepraj Rana[5]"
3,JANUARY,13,Sadda Adda,Comedy,Muazzam Beg,"Karanvir Sharma, Shaurya Chauhan, Bhaumik Samp..."
4,JANUARY,26,Agneepath,Action/Drama,Karan Malhotra,"Hrithik Roshan, Sanjay Dutt, Priyanka Chopra, ..."

In [81]:
df13_1 = pd.read_html(f'{link}2013',header=0)[2]
df13_2= pd.read_html(f'{link}2013',header=0)[3]
df13_3 = pd.read_html(f'{link}2013',header=0)[4]
df13_4 = pd.read_html(f'{link}2013',header=0)[5]

df13 = pd.concat([df13_1,df13_2,df13_3,df13_4],axis=0)

df13.head()

,Opening,Opening.1,Title,Genre,Director,Cast,Source
0,JANUARY,4.0,Table No. 21,Thriller/Drama,Aditya Datt,"Paresh Rawal, Rajeev Khandelwal, Tina Desai",[4]
1,JANUARY,4.0,Dehraadun Diary,Thriller,Milind Ukey,"Adhyayan Suman, Rohit Bakshi, Ragini Nandwani,...",[5]
2,JANUARY,4.0,Meri Shadi Karao,Comedy,Syed Noor,Gurdeep Singh Mehndi,[6]
3,JANUARY,11.0,Matru Ki Bijlee Ka Mandola,Comedy,Vishal Bhardwaj,"Imran Khan, Anushka Sharma, Pankaj Kapur",[7]
4,JANUARY,11.0,Pyaar Mein Aisa Hota Hai,Thriller,Rajesh Kumar,"Mohd Nazim, Aanamika Bawa, Rohit Rajawat, Aayu...",[8]

In [82]:
df14_1 = pd.read_html(f'{link}2014',header=0)[2]
df14_2= pd.read_html(f'{link}2014',header=0)[3]
df14_3 = pd.read_html(f'{link}2014',header=0)[4]
df14_4 = pd.read_html(f'{link}2014',header=0)[5]

df14 = pd.concat([df14_1,df14_2,df14_3,df14_4],axis=0)

df14.head()

,Opening,Opening.1,Title,Genre,Director,Cast,Source
0,JAN,3.0,Mr Joe B. Carvalho,Comedy,Samir Tewari,"Arshad Warsi, Soha Ali Khan, Javed Jaffrey, Vi...",[12]
1,JAN,3.0,Sholay 3D,Action/Adventure,Ramesh Sippy,"Dharmendra, Amitabh Bachchan, Hema Malini, Jay...",[13]
2,JAN,10.0,Dedh Ishqiya,Black Comedy/Thriller,Abhishek Chaubey,"Naseeruddin Shah, Arshad Warsi, Madhuri Dixit,...",[14]
3,JAN,10.0,Yaariyan,Romance,Divya Khosla Kumar,"Himansh Kohli, Shreyas Pardiwalla, Dev Sharma,...",[15]
4,JAN,17.0,Karle Pyaar Karle,Romance,Rajesh Pandey,"Shiv Darshan, Hasleen Kaur",[16]

In [83]:
df15_1 = pd.read_html(f'{link}2015',header=0)[2]
df15_2= pd.read_html(f'{link}2015',header=0)[3]
df15_3 = pd.read_html(f'{link}2015',header=0)[4]
df15_4 = pd.read_html(f'{link}2015',header=0)[5]

df15 = pd.concat([df15_1,df15_2,df15_3,df15_4],axis=0)

df15.head()

,Opening,Opening.1,Title,Genre,Director,Cast,Source
0,JAN,2.0,International Hero,Drama,Sanjay Niranjan,"Nakul Vaid, Jatin Grewal, Gurleen Choter",[11]
1,JAN,2.0,Mumbai Can Dance Saala,Thriller,Sachindra Sharma,"Ashima Sharma, Prashant Narayanan, Aditya Panc...",[12]
2,JAN,2.0,Take It Easy,Drama,Sunil Prem Vyas,"Vikram Gokhale, Dipannita Sharma, Raj Zutshi, ...",[13]
3,JAN,9.0,Tevar,"Action, Romance",Amit Sharma,"Arjun Kapoor, Sonakshi Sinha, Raj Babbar, Mano...",[14][15]
4,JAN,16.0,Alone,Horror,Bhushan Patel,"Bipasha Basu, Karan Singh Grover",[16]

In [86]:
df16_1 = pd.read_html(f'{link}2016',header=0)[2]
df16_2= pd.read_html(f'{link}2016',header=0)[3]
df16_3 = pd.read_html(f'{link}2016',header=0)[4]
df16_4 = pd.read_html(f'{link}2016',header=0)[5]

df16 = pd.concat([df16_1,df16_2,df16_3,df16_4],axis=0,sort=False)

df16.head()

,Opening,Opening.1,Title,Genre,Director,Cast,Studio,Ref.
0,JAN,8,Wazir,Thriller,Bejoy Nambiar,"Amitabh Bachchan, Farhan Akhtar, Aditi Rao Hyd...",NaN,[21][22]
1,JAN,15,Chalk n Duster,Drama,Jayant Gilatar,"Shabana Azmi, Juhi Chawla, Divya Dutta, Zarina...",NaN,[23][24]
2,JAN,15,Rebellious Flower,Biopic,Krishan Hooda,"Prince Shah, Shashank Singh, Mantra Mugdha, Ki...",NaN,[25][26]
3,JAN,22,Airlift,War/Thriller,Raja Krishna Menon,"Akshay Kumar, Nimrat Kaur, Purab Kohli, Ferena...",NaN,[27][28]
4,JAN,22,Jugni,Musical drama,Shefali Bhushan,"Sugandha Garg, Siddhant Behl, Sadhana Singh, A...",NaN,[29][30]

In [89]:
df17.tail()

,Opening,Opening.1,Title,Director,Cast,Genre,Studio,Ref.
25,DEC,8.0,Fukrey Returns,Mrighdeep Singh Lamba,"Pulkit Samrat, Priya Anand, Ali Fazal, Varun S...",Comedy,Excel Entertainment,[179][180]
26,DEC,8.0,Game Over,Paresh Vinodray Savani,"Rajesh Sharma, Yashpal Sharma, Gurleen Chopra",Suspense/thriller,"Dream Machine, Koning Entertainment & Dream In...",[181]
27,DEC,8.0,Sallu Ki Shaadi,Mohammad Israr Ansari,"Zeenat Aman, Kiran Kumar, Asrani, Kshayp, Arsh...",Comedy drama,"Aman Film Production, Angel's Production, Bros...",[182]
28,DEC,15.0,Monsoon Shootout,Amit Kumar,"Nawazuddin Siddiqui, Vijay Varma & Tannishtha ...",Crime/thriller,Sikhya Entertainment,[183]
29,DEC,22.0,Tiger Zinda Hai,Ali Abbas Zafar,Salman Khan & Katrina Kaif,Action/drama,Yash Raj Films,[184]

In [88]:
df17_1 = pd.read_html(f'{link}2017',header=0)[2]
df17_2= pd.read_html(f'{link}2017',header=0)[3]
df17_3 = pd.read_html(f'{link}2017',header=0)[4]
df17_4 = pd.read_html(f'{link}2017',header=0)[5]

df17 = pd.concat([df17_1,df17_2,df17_3,df17_4],axis=0,sort=False)

df17.head()

,Opening,Opening.1,Title,Director,Cast,Genre,Studio,Ref.
0,JAN,13.0,Haraamkhor,Shlok Sharma,"Nawazuddin Siddiqui, Shweta Tripathi","Comedy, Crime",Sikhya EntertainmentKhusro Films,[17][18]
1,JAN,13.0,Ok Jaanu,Shaad Ali,"Aditya Roy Kapur, Shraddha Kapoor","Romance, Drama","Madras Talkies, Dharma Productions",[19][20]
2,JAN,20.0,Coffee with D,Vishal Mishra,"Sunil Grover, Zakir Hussain","Comedy, Crime",Apex Entertainment,[21]
3,JAN,25.0,Kaabil,Sanjay Gupta,"Hrithik Roshan, Yami Gautam","Action, Thriller",Filmkraft Productions Pvt. Ltd,[22][23]
4,JAN,25.0,Raees,Rahul Dholakia,"Shah Rukh Khan, Mahira Khan, Nawazuddin Siddiqui","Crime, Action","Red Chillies Entertainment, Excel Entertainment",[24][25]

In [91]:
df18_1 = pd.read_html(f'{link}2018',header=0)[2]
df18_2= pd.read_html(f'{link}2018',header=0)[3]
df18_3 = pd.read_html(f'{link}2018',header=0)[4]
df18_4 = pd.read_html(f'{link}2018',header=0)[5]
df18 = pd.concat([df18_1,df18_2,df18_3,df18_4],axis=0,sort=False)

df18.head()

,Opening,Opening.1,Title,Director,Cast,Production house,Ref.
0,JAN,12.0,1921,Vikram Bhatt,Zareen KhanKaran KundraTobby HinstonSonia Arms...,ASA Productions and Enterprises,[16][17]
1,JAN,12.0,Kaalakaandi,Akshat Verma,Saif Ali KhanIsha TalwarShenaz TreasuryAkshay ...,Cinestan Film Company,[18][19]
2,JAN,12.0,Mukkabaaz,Anurag Kashyap,Vineet Kumar SinghZoya HussainRavi KishanJimmy...,"Eros International, Colour Yellow Productions",[20][21]
3,JAN,15.0,Phir Se...,Kunal Kohli,Jennifer WingetKunal KohliRajit Kapur,"Bombay Film Company Ltd, Netflix",[22][23][24]
4,JAN,19.0,My Birthday Song,Samir Soni,Sanjay SuriNora FatehiPitobash,Kahwa entertainment,[25][26]

In [232]:
df19_1 = pd.read_html(f'{link}2019',header=0)[3]
df19_2 = pd.read_html(f'{link}2019',header=0)[4]
df19_3 = pd.read_html(f'{link}2019',header=0)[5]
df19_4 = pd.read_html(f'{link}2019',header=0)[6]

df19 = pd.concat([df19_1,df19_2,df19_3,df19_4],axis=0,sort=False)

df19.head()

,Opening,Opening.1,Title,Director,Cast,Studio (production house),Ref.
0,JAN,4.0,Salt Bridge,Abhijit Deonath,Rajeev KhandelwalChelsie Preston CrayfordUsha ...,NaN,[13]
1,JAN,9.0,Cabaret,Kaustav Narayan Niyogi,Richa ChaddaGulshan DevaiahS. Sreesanth,"Fisheye Network Private Limited, T-Series",[14]
2,JAN,11.0,Uri: The Surgical Strike,Aditya Dhar,Vicky KaushalMohit RainaParesh RawalYami Gautam,RSVP Movies,[15][16]
3,JAN,11.0,Battalion 609,Brijesh Batuknath Tripathi,Shoaib IbrahimElena KazanFarnaz ShettyVishwas ...,N.J Lalwani Films,[17][18][19]
4,JAN,11.0,The Accidental Prime Minister,Vijay Ratnakar Gutte,Anupam KherAkshaye KhannaSuzanne BernertAahana...,Bohra Bros Production,[20][21]

In [245]:
df19[df19['Title']=='War']

,Opening,Opening.1,Title,Director,Cast,Studio (production house),Ref.,Genre
0,OCT,2.0,War,Siddharth Anand,Hrithik RoshanTiger ShroffVaani Kapoor,Yash Raj Films,[146],"Action, Thriller"

In [96]:
df20_1 = pd.read_html(f'{link}2020',header=0)[3]
df20_2 = pd.read_html(f'{link}2020',header=0)[4]
df20_3 = pd.read_html(f'{link}2020',header=0)[5]
df20_4 = pd.read_html(f'{link}2020',header=0)[6]

df20 = pd.concat([df20_1,df20_2,df20_3,df20_4],axis=0,sort=False)

df20.head()

,Opening,Opening.1,Title,Director,Cast,Studio (production house),Ref.
0,JAN,1,Ghost Stories,Karan JoharDibakar BanerjeeZoya AkhtarAnurag K...,Sobhita DhulipalaMrunal ThakurAvinash TiwaryJa...,"RSVP Movies, Flying Unicorn Entertainment, Net...",[12]
1,JAN,3,Bhangra Paa Le,Sneha Taurani,Sunny KaushalRukshar DhillonShriya Pilgaonkar,RSVP Movies,[13]
2,JAN,3,Sab Kushal Mangal,Karan Vishwanath Kashyap,Akshaye KhannaRiva KishanPriyank Sharma,One Up Entertainment,[14]
3,JAN,3,Shimla Mirchi,Ramesh Sippy,Hema MaliniRajkummar RaoRakul Preet Singh,Viacom18 Motion Pictures,[15]
4,JAN,10,Chhapaak,Meghna Gulzar,Deepika PadukoneVikrant Massey,"Fox Star Studios, Ka Productions, Mriga Films",[16]

In [ ]:
request = requests.get('http://www.omdbapi.com/?t=Bhangra Paa Le&y=2020&apikey=a8376da1')
data_json = request.json()
data_json['Genre']

In [171]:
key = 'a8376da1'
def get_genre(x,year):
    request = requests.get('http://www.omdbapi.com/?t={}&y={}&apikey={}'.format(x,year,key))
    data_json = request.json()
    if data_json:
        try:
            return data_json['Genre']
        except:
            return np.NaN

In [233]:
df19['Genre'] = df19['Title'].apply(lambda x: get_genre(x,2019))

In [175]:
df18['Genre'] = df18['Title'].apply(lambda x: get_genre(x,2018))

In [176]:
df20['Genre'] = df20['Title'].apply(lambda x: get_genre(x,2020))

In [234]:
print(df19['Genre'].isna().sum())
print(df20['Genre'].isna().sum())

21
15

In [253]:
def df_clean(df):
    data = df[['Title','Director','Cast','Genre']]
    data = data.dropna()
    return data

In [261]:
df_clean(df18)

,Title,Director,Cast,Genre
0,1921,Vikram Bhatt,Zareen KhanKaran KundraTobby HinstonSonia Arms...,"Horror, Mystery, Romance"
1,Kaalakaandi,Akshat Verma,Saif Ali KhanIsha TalwarShenaz TreasuryAkshay ...,"Comedy, Thriller"
3,Phir Se...,Kunal Kohli,Jennifer WingetKunal KohliRajit Kapur,Romance
4,My Birthday Song,Samir Soni,Sanjay SuriNora FatehiPitobash,Thriller
5,Vodka Diaries,Kushal Srivastava,Kay Kay MenonMandira BediRaima SenSharib Hashmi,"Mystery, Thriller"
...,...,...,...,...
18,Rajma Chawal,Leena Yadav,Rishi KapoorAnirudh TanwarAmyra Dastur,"Comedy, Drama, Family"
19,Kedarnath,Abhishek Kapoor,Sushant Singh RajputSara Ali Khan,"Drama, Romance"
20,Ascharyachakit!,Samit Kakkad,Priyanka BoseVaibhav Raj GuptaAnkit RaajAnangs...,"Drama, Romance"
21,Zero,Aanand L. Rai,Shah Rukh KhanKatrina KaifAnushka SharmaTigman...,"Comedy, Drama, Romance"
22,Simmba,Rohit Shetty,Ranveer SinghSara Ali KhanSonu Sood,"Action, Comedy, Drama"

In [255]:
df_ = pd.DataFrame()

In [256]:
final[final.Title=='War']

Empty DataFrame
Columns: [index, Title, Director, Cast, Genre, comb]
Index: []

In [257]:

df_dict = {f'df_dict]':df_ for i in range(0,21)}

In [262]:
final = pd.DataFrame()

In [263]:
datasets = [df0,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20]

for dataset in datasets:
    final = final.append(df_clean(dataset))

In [264]:
final[final['Director']=='Siddharth Anand']

,Title,Director,Cast,Genre
94,Salaam Namaste,Siddharth Anand,"Saif Ali Khan, Preity Zinta, Arshad Warsi, Tan...","Romance, Comedy, Drama, Social"
99,Ta Ra Rum Pum,Siddharth Anand,"Saif Ali Khan, Rani Mukerji, Javed Jaffrey, Aa...","Romance, drama, social"
44,Bachna Ae Haseeno,Siddharth Anand,"Ranbir Kapoor, Bipasha Basu, Minissha Lamba, D...","Comedy, Drama, Romance"
0,Anjaana Anjaani,Siddharth Anand,"Ranbir Kapoor, Priyanka Chopra, Zayed Khan",Romance
0,Bang Bang!,Siddharth Anand,"Hrithik Roshan, Katrina Kaif, Javed Jaffrey",Action/Romance
0,War,Siddharth Anand,Hrithik RoshanTiger ShroffVaani Kapoor,"Action, Thriller"

In [270]:
final.head()

,index,Title,Director,Cast,Genre,comb
0,0,Aaghaaz,Yogesh Ishwar,"Sunil Shetty, Sushmita Sen, Namrata Shirodkar",Thriller,"Aaghaaz Yogesh Ishwar Sunil Shetty, Sushmita S..."
1,1,Aaj Ka Ravan,Imran Khalid,"Kasam Ali, Mithun Chakraborty",Drama,"Aaj Ka Ravan Imran Khalid Kasam Ali, Mithun Ch..."
2,2,Anjaane,Ravi Rai,"Raveena Tandon, Vivek Mushran",Romance,"Anjaane Ravi Rai Raveena Tandon, Vivek Mushran..."
3,3,Anokha Moti,Anshul Singla,"Sanjay Sharma, Arjun Chakraborty, Nayab Aftab",Family,"Anokha Moti Anshul Singla Sanjay Sharma, Arjun..."
4,4,Apradhi Kaun,Mohan Bhakri,"Ishrat Ali, Shagufta Ali",Thriller,"Apradhi Kaun Mohan Bhakri Ishrat Ali, Shagufta..."

In [266]:
final.reset_index(inplace=True)

In [267]:
final.iloc[1809]

index                                                      25
Title                                             Doordarshan
Director                                           Gagan Puri
Cast        Mahie GillManu Rishi ChaddhaDolly AhluwaliaSup...
Genre                                           Comedy, Drama
Name: 1809, dtype: object

In [268]:
final.shape

(1840, 5)

In [271]:
final['comb'] = final['Title'] + " " + final['Director'] + " " + final['Cast'] + " " + final['Genre']

In [272]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
comb = cv.fit_transform(final['comb']).toarray()

In [273]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(comb)

In [274]:
def get_title_from_index(index):
    return final[final.index == index]['Title'].values[0]

def get_index_from_title(title):
    return final[final.Title==title].index[0]

In [275]:
final[final.Title=='War']

,index,Title,Director,Cast,Genre,comb
1756,0,War,Siddharth Anand,Hrithik RoshanTiger ShroffVaani Kapoor,"Action, Thriller",War Siddharth Anand Hrithik RoshanTiger Shroff...

In [277]:
movie_user_likes = 'War'

movie_index = get_index_from_title(movie_user_likes)

similar_movies = list(enumerate(cosine_sim[movie_index]))
sorted_similar_movies = sorted(similar_movies ,key=lambda x:x[1],reverse=True)


for movie in sorted_similar_movies[1:51]:
    print(get_title_from_index(movie[0]))

Bang Bang!
Lakshya
Shikari
Kaabil
Anjaana Anjaani
Bachna Ae Haseeno
Fiza
Jimmy
Chhupa Rustam: A Musical Thriller
Fida
Mausam
Besharam
Annarth
Khakee
Tashan
Prince - It's Showtime!
Chargesheet
Agneepath
Mission Kashmir
Insan
Race 2
Aurangzeb
Anjaane
Anjaam
Dhoom 2
Don
Shakti - The Power
Chocolate
Players
Aashiq
United Six
Missing
Raazi
Blank
Don 2
Bhai Thakur
Ittefaq
Bodyguard
Genius
Dassehra
Batla House
Commando 3
Baaghi 3
Let's Enjoy
Talaash: The Hunt Begins...
Gayab
Kabul Express
Aggar
Rangrezz
Roy

In [281]:
def return_similar_movies(movie):
    movie = movie.capitalize()
    movie_index = get_index_from_title(movie)
    
    similar_movies = list(enumerate(cosine_sim[movie_index]))
    
    sorted_similar_movies = sorted(similar_movies ,key=lambda x:x[1],reverse=True)
    
    output = []
    for movie in sorted_similar_movies:
        output.append(get_title_from_index(movie[0]))
        
    return output[1:20]

In [282]:
return_similar_movies('War')

['Bang Bang!',
 'Lakshya',
 'Shikari',
 'Kaabil',
 'Anjaana Anjaani',
 'Bachna Ae Haseeno',
 'Fiza',
 'Jimmy',
 'Chhupa Rustam: A Musical Thriller',
 'Fida',
 'Mausam',
 'Besharam',
 'Annarth',
 'Khakee',
 'Tashan',
 "Prince - It's Showtime!",
 'Chargesheet',
 'Agneepath',
 'Mission Kashmir']